.paymentGateway {
  display: flex;
  flex-direction: column;
  width: 44%;
  padding: 0 1.5rem 1.5rem 1.5rem;
  /* border: 1px solid black; */
}
.delivery-status {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  justify-content: right;
}
.delivery-status hr {
  width: 20%;
}
.delivery-status .status {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}
.delivery-status .icon {
  font-size: 120%;
}
.delivery-status .current-status {
  background-color: #cadfb5;
  color: white;
}
.payment .payment-title h4 {
  color: #959595;
  font-weight: 400;
}
.payment .methods .container .row {
  margin-bottom: 1rem;
}
.payment .methods .container .row .col {
  /* border: 1px solid black; */
}
.toal-money-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.toal-money-container .sub-money-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.toal-money-container .sub-money-container .amount-details > h6 {
  color: #959595df;
}
.payment .button-container button {
  width: 100%;
  border-radius: 20px;
}
.payment .button-container button:focus{
  box-shadow: none;
  text-align: center;
}
.payment .additional{
  text-align: center;
}
.payment .additional span{
  text-decoration: underline;
}
.payment .additional .first{
  margin-bottom: 0;
}