/* .shoppingCart {
  width: 50%;
} */
.title {
  font-weight: 400;
  font-size: 35px;
}
.title sup {
  font-weight: 300;
  font-size: 19px;
  color: #a8aaa6;
}
.product-image {
  border-radius: 20px;
  width: 50%;
  height: 50%;
  margin-top: 1rem;
}
.box {
  display: flex;
}
.img-text-box {
  display: flex;
}
.img-container {
  border: "black solid 1px";
}
.text {
  padding: 2rem;
}
.text .edit {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
.text h5 {
  font-weight: 400;
}
.text p {
  color: #a8aaa6;
}
.btn-group .btn-primary {
  color: black;
  background-color: white;
  border: none;
  outline: none;
}
.btn-group .btn-primary:hover {
  background-color: white;
  color: black;
}
.textarea {
  padding: 4rem 4rem 4rem 0;
  width: 60%;
}
.textarea .form-control {
  border-radius: 50px;
  padding: 1.5rem 2rem 2rem 2rem;
  overflow: hidden;
  resize: none;
  width: 131%;
}
.textarea .form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #a8aaa6;
}
.money-box {
  padding-right: 1rem;
}
.increase-decrease-inputfield-dollar {
  display: flex;
  justify-content: space-between;
}
.increase-decrease-inputfield-dollar form {
  border: 1px solid #a8aaa6;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  border-radius: 50px;
  height: 20%;
}
.increase-decrease-inputfield-dollar input {
  width: 40%;
  border: none;
  outline: none;
  text-align: center;
}
.increase-decrease-inputfield-dollar button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 40px;
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.increase-decrease-inputfield-dollar .dollar .a {
  text-decoration: underline;
}
.contact-shop {
  text-decoration: underline;
  color: #a8aaa6;
  float: right;
}
.contact-shop:hover {
  color: #999a97;
  cursor: pointer;
}
.dollar {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.dollar s {
  color: #7e7e7e;
}
.dollar p {
  color: rgb(110, 219, 2);
}
.coupon-codes {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
.coupon-codes .form-control {
  border-radius: 50px;
  margin: 1rem 0 1rem 1rem;
  width: 112%;
}
.coupon-codes .form-control .input {
  border: none;
  outline: none;
  padding: 0rem;
}
.coupon-codes .form-control .input:focus {
  box-shadow: none;
  border: none;
}
.search-icon img {
  position: absolute;
  right: 40px;
  top: 26px;
  z-index: 9999;
  width: 5%;
  cursor: pointer;
}
.coupon-codes .para {
  /* border: 1px solid black; */
  width: 50%;
  text-align: right;
  color: #7e7e7e;
}
.coupon-codes .para .date {
  text-decoration: underline;
}
.coupon-codes .para h6{
  text-align: right;
}
.coupon-codes .form-control select {
  border: none;
  outline: none;
  padding: 1rem;
}
.coupon-codes .form-control select:focus {
  box-shadow: none;
  border: none;
}
.btn-group .btn-primary:focus {
  background-color: white;
  border: none;
  outline: none;
  color: black;
  box-shadow: none;
}
.btn-group .btn-primary {
  border: none;
  box-shadow: none !important;
}